@use '../utils/fonts' as font;
@use '../utils/breakpoints' as bp;

html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: font.$redHatDisplay;
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-image: var(--mobile-bg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--bg-clr);

    @include bp.breakpointMin(medium){
        background-image: var(--desktop-bg);
    }
}

ul {
    margin: 0;
}

button {
    cursor: pointer;
}
